@mixin baseMargins($marBot: 10px) {
  margin-top: 10px;
  padding-top: $marBot;
  padding-bottom: 10px;
  position: relative;
}

.registration {
  font-family: 'Roboto', sans-serif;
}

.registration .content-wrapper {
  margin-left: 22.5%;
  width: 50%;
  margin-top: 20px;
}

.registration .content-wrapper .input-section {
  @include baseMargins();
  height: 41px;
}

.registration .content-wrapper input {
  float: right;
  width: 77%;
}

.registration .content-wrapper textarea {
  float: right;
  min-width: 77%;
  max-width: 77%;
  min-height: 300px;
  max-height: 300px;
}

.registration .content-wrapper span {
  position: absolute;
  top: 38%;
}

.registration .content-wrapper .text-area-large {
  @include baseMargins(20px);
  padding-top: 20px;
  padding-bottom: 10px;
  max-height: 323px;
  min-height: 323px;
}

.registration .content-wrapper .date-input {
  width: 77%;
  float: right;
}

.registration .content-wrapper .date-input input {
  width: 100%;
}

.registration .content-wrapper .rdt span {
  position: static;
}

.registration .content-wrapper .dropzone-section {
  @include baseMargins();
}

.registration .content-wrapper .dropzone {
  width: 100%;
  height: 200px;
  box-shadow: inset 2px 2px 4px 0px #b7b7b7;
  border: #b7b7b7 1px solid;
  margin-top: 15px;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 3px;
  background: #fcfcfc;
}

.registration .content-wrapper .dropzone:hover {
  box-shadow: inset 2px 2px 4px 0px #d7d7d7;
}

.registration .content-wrapper .dropzone span {
  position: absolute;
  left: 33%;
  top: 67%;
  width: 34%;
  text-align: center;
  text-shadow: 2px 1px 4px seashell;
  color: rgba(29, 28, 28, 0.52);
}

.registration .content-wrapper .dropzone .docIcon {
  position: absolute;
  left: 45%;
  top: 10%;
}

.remove-button {
  top: 13%;
}
.error-message {

}



